/*GLOBAL*/
html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
/*HEADER SECTION*/
.header {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header__image {
  margin-left: 3rem;
  height: 90px;
  width: 200px;
}
.header__text-signin,
.header__text-signin--decoration {
  margin-right: 5rem;
  margin-top: 1.8rem;
  display: table-cell;
  text-decoration: none;
}
.header__text-signin--decoration {
  color: rgb(0, 132, 255);
}

/*MAIN SECTION*/
.form-signup {
  width: 75%;
  padding: 3rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3.5px;
}
.form-signup__buttons {
  display: flex;
  gap: 15px;
}
.form-signup__button-google {
  background-color: #4285f4;
  color: white;
  border-width: 0;
  border-radius: 4px;
  width: 182px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.form-signup__button-facebook {
  background-color: #4267b2;
  color: white;
  border-width: 0;
  border-radius: 4px;
  width: 200px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.form-signup__image-facebook--size {
  height: 2rem;
}
.form-signup__label {
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(37, 37, 37);
}
.form-signup__email-link {
  text-decoration: none;
  color: black;
}
.form-signup__input-password,
.form-signup__input-email{
  width: 35rem;
  height: 1.3rem;
}
.form-signup__input-email {
  margin-bottom: 1rem;
}
.form-signup__checkbox {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}
.form-signup__checkbox-input{
  margin-top: 1rem;
  border: 1px solid black;
  width: 20px;
  height: 20px;
}
.item__hyperlink {
  text-decoration: none;
  color: rgb(0, 132, 255);
  cursor: pointer;
}
.button__signup {
  margin-top: 1rem;
  color: rgb(167, 167, 167);
  background-color: white;
  padding: 14px 40px;
  border: 3px dashed rgb(224, 224, 224);
  border-radius: 3rem;
  font-size: 12px;
  display: flex;
  width: 250px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
  justify-content: center;
}

/*FOOTER*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0rem 5rem;
  box-shadow: rgba(0, 0, 0, .24) 0px 3px 8px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}
.footer__links{
  margin-left: 6rem;
  display: flex;
  gap: 2rem;
}